* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

#root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    min-width: 320px;
  }
}
